
{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/deposits.css') }}">
{% endblock %}
    
{% block title %}
    deposits
{% endblock %}

{% block content %}
<body>
<div style="max-width:1120px;margin: 0 auto; padding:0 20px;">
    <div class="first_text">
        <h1 style="font-size:60px;margin-bottom: 20px;">Əmanətlər</h1>
        <p>Pulunuz sizin üçün işləsin</p>
    </div>
    <div class="card_list">
      <div class="common_item yelo_bg" >
        <div class="inner_text">
          <div class="card_name">Yelo Sabit</div>
          <div class="card_paragraph">Pulunuz sizin üçün işləsin</div>
            <div class="card_column">
              <div class="card_inner">
               <p>Məbləğ</p>
               <b>min. 100 AZN/USD</b>
               </div>
                <div class="card_inner">
                <p>Müddət</p>
                <b>12 / 18 / 24 ay</b>
                </div>
                 <div class="card_inner">
                 <p>Faizlərin ödənişi</p>
                 <b>Aylıq və ya müddətin sonunda</b>
                 </div>
             </div>
             <ul>
             <li>
             <a href="/az/individuals/cards/yelo-kart-debet/#order_form" class="button"><span>Əmanət sifariş et</span></a>
             </li>
             <li id="more_info">
             <a href="/az/individuals/cards/yelo-kart-debet/" class="button2">Daha ətraflı <img src="../static/images/bl_arr_bttn.svg" ></a>
             </li>
             </ul>
            </div>
              <div class="card_img">
                
                  <div class="card_atv ">   
                    <div class="imgs" style="background-image:url(../static/images/shutterstock_478944469-3_1.png);" ></div>
                  </div>
                </div>
            </div> 
       
          <div class="common_item yelo_bg" >
            <div class="inner_text">
             <div class="card_name">"Parlaq Zəfər" əmanəti</div>
              <div class="card_paragraph">Pulunuz sizin üçün işləsin</div>
                <div class="card_column">
                  <div class="card_inner">
                  <p>Məbləğ</p>
                  <b>3 il</b>
                  </div>
                   <div class="card_inner">
                   <p>Müddət</p>
                   <b>12 ay</b>
                   </div>
                    <div class="card_inner">
                    <p>Faizlərin ödənişi</p>
                    <b>Aylıq və ya müddətin sonunda</b>
                    </div>
                </div>
                <ul>
                <li>
                <a href="/az/individuals/cards/yelo-kart-debet/#order_form" class="button"> <span>Əmanət sifariş et </span></a>
                </li>
                <li id="more_info">
                <a href="/az/individuals/cards/yelo-kart-debet/" class="button2">Daha ətraflı <img src="../static/images/bl_arr_bttn.svg" ></a>
                </li>
                </ul>
               </div>
               <div class="card_img">
                
                <div class="card_atv atvImg">   
                    <div class="imgs" style="background-image:url(../static/images/zefer_emaneti-isolated.png);" ></div>
                </div>
               </div> 
      </div> 
      <div class="common_item yelo_bg" >
        <div class="inner_text">
         <div class="card_name">Yelo Yığım</div>
          <div class="card_paragraph">Pulunuz sizin üçün işləsin</div>
            <div class="card_column">
              <div class="card_inner">
              <p>Minimal məbləğ</p>
              <b>100 AZN/USD</b>
              </div>
               <div class="card_inner">
               <p>Müddəti</p>
               <b>12 ay</b>
               </div>
                <div class="card_inner">
                <p>Faizlərin ödənişi</p>
                <b>aylıq və ya müddətin sonunda</b>
                </div>
            </div>
            <ul>
            <li>
            <a href="/az/individuals/cards/yelo-kart-debet/#order_form" class="button"><span>Əmanət sifariş et</span></a>
            </li>
            <li id="more_info">
            <a href="/az/individuals/cards/yelo-kart-debet/" class="button2">Daha ətraflı <img src="../static/images/bl_arr_bttn.svg" ></a>
            </li>
            </ul>
           </div>
           <div class="card_img">
                
            <div class="card_atv atvImg">   
                <div class="imgs" style="background-image:url(../static/images/depositnew-pic.png);"></div>
            </div>
           </div> </div>
                     

  </div> 
  <section class="stories">
    <div class="main-container">
        <h2 class="section-title">
            Storilər<span>3</span>
        </h2>
        <!-- flex -->
        <div class="d-flex justify-content-between">
            <div class="stories-item d-flex justify-content-between align-items-start">
                <div class="stories-item__info">
                    <p class="stories-item__title">
                        Kredit
                    </p>
                    <p class="stories-item__subtitle">
                        Xərclərini təxirə salma, hər zaman dəstək üçün Yelo Bank var
                    </p>
                </div>
                <div class="stories-item__img">
                    <img src="{{ url_for('static', filename='images/stories-kredit.png') }}" alt="stories-kredit">
                </div>
            </div>
            <div class="stories-item d-flex justify-content-between align-items-start">
                <div class="stories-item__info">
                    <p class="stories-item__title">
                        Cashback
                    </p>
                    <p class="stories-item__subtitle">
                        600-dən çox partnyoru özündə birləşdirən Cashback proqramı
                    </p>
                </div>
                <div class="stories-item__img">
                    <img src="{{ url_for('static', filename='images/stories-cashback.png') }}" alt="stories-cashback">
                </div>
            </div>
            <div class="stories-item d-flex justify-content-between align-items-start">
                <div class="stories-item__info">
                    <p class="stories-item__title">
                        Yelo kart
                    </p>
                    <p class="stories-item__subtitle">
                        Yelo Kart hər əməliyyatda rahatlıq anlayışını dəyişəcək
                    </p>
                </div>
                <div class="stories-item__img">
                    <img src="{{ url_for('static', filename='images/stories-yelo-kart.png') }}" alt="stories-yelo-kart">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="read-more">
    <h1>Depozit nedir?</h1>
    <p>Heç kəs əlavə qazanca, gəlirinin üstünə gəlir gəlməsinə etiraz etməz, elə deyil? 
    Pulunuzun çoxalması üçün ən sərfəli və düzgün yol banka depozit qoymaqdır. 
    Depozit nedir? Depozit - əmanətçi ilə bank arasında razılaşmaya əsasən  müəyyən müddətə və 
    faiz dərəcələri müqabilində hüquqi və ya fiziki şəxslərin bankda yerləşdirmiş olduqları sərbəst 
    pul vəsaitidir. Yəni bu vəsaiti banka həvalə edirsiniz, bank isə sizin timsalınızda digər depozit 
    müştərilərindən toplanmış vəsait hesabına kredit ayırır, siz isə pulunuzu depozit şəklində banka əmanət 
    etdiyiniz üçün ondan illik faiz gəliri qazanırsınız.  Depozitin ölkəmizdə ən geniş yayılmış növü müddətli 
    depozitdir. Siz<span id="dots">...</span><span id="more"> məbləğinizi müəyyənləşdirilmiş müddətə banka depozit kimi yerləşdirirsiniz, həmin müddət ərzində 
    isə pulunuza faiz dərəcələri hesablanır. Əgər depozit vəsaitini müddət yekunlaşmamış bankdan geri çəksəniz vəsaitin 
    daha az faiz gəliri qazana bilərsiniz.</p>
    
    <h1>Depozit kalkulyatoru</h1>
    <p>Müddətli depozit əmanəti yerləşdirmək üçün bank axtarışındasınızsa, çox düşünmədən Yelo Bank-ı seçin! Pulunuz yastıq 
    altında, şüşə qabda, kitab arasında artan deyil, lakin Yelo Bank kimi daha etibarlı və yüksək faizli bankda saxlamaqla 
    pulunuzu çoxalda bilərsiniz. Yelo Bank depozit yerləşdirmək istəyən müştərilərin rahatlığını təmin etmək üçün onlayn depozit 
    kalkulyatoru xidmətini aktiv edib. Saat və olduğunuz məkandan asılı olmayaraq internet şəbəkəsi mövcud olan istənilən şəraitdə 
    Bankın rəsmi veb-saytında depozit kalkulyatoru ilə pulunuzun nə qədər gəlir gətirəcəyini hesablaya bilərsiniz. Gəlirinizi hesablamaq
     üçün depozit üzrə kalkulyatorda depozit məbləği, müddəti və valyuta kimi detalları daxil edirsiniz. Çevin əmanət kalkulyatoru depozit
      gəlirinizi anındaca hesablayaraq nəticə ilə sizi tanış edəcək.</p>
    
   <h1> Depozit faizleri</h1>
   <p> Pulunuzu gəlir qazandırmaq üçün ən etibarlı üsul depozit faizleri əldə etməkdir. 
    Bankda depozit hesabı açmaqla bir növ banka pulunuzu kredit şəklində verirsiniz, bank isə bunun müqabilində 
    sizə depozit faizleri ödəyir, nəticədə siz qazanclı olursunuz. Hal-hazırda ən sərfəli depozit faizleri təqdim edən 
    banklar arasında Yelo Bank ən populyarıdır. Təsadüfi deyil ki, ötən il depozit portfelinin artımına görə ən yüksək dinamika, 
    təxminən 50% Yelo Bankın payına düşür. Müştərilər pullarınızı depozit şəklində Yelo Bankda əmanət etməklə məbləğlərindən parlaq 
    depozit faizleri qazanırlar. Depozit hesabını vaxt itirmədən bankın veb saytında aça bilərsiniz. Gəlirinizə və əmanət yerləşdirmək 
    istədiyiniz müddətə hansı depozit faizleri qazanacağınızı hesablamaq üçün vebsaytda avtomatlaşdırılmış əmanət kalkulyatoru da mövcuddur.</p>
    
    <h1>Depozit hesablari</h1>
    <p> Bankda depozit hesablari açmaq nə üçün sərfəlidir? Bir çoxunuz bankda hesab açmaq haqda eşitmisiniz, 
    əgər siz külli miqdarda vəsaitə sahibsinizsə, onu depozit şəklində banka əmanət etməklə pulunuzu artırmaq
     yolunda ən optimal addımı atmış olarsınız. Bank və müştəri arasında hüquqi olaraq qarşılıqlı münasibətlər 
     depozit hesablari açılması ilə başlanılır. Bank sizin vəsaiti qorumaq və müəyyənləşdirilmiş müddət sonunda
      qabaqcadan təklif etdiyi depozit faizini sizə təqdim etmək öhdəliyini götürür. Yüksək faizli depozit hesablari
       təklif edən banklar arasında ən favorit seçim Yelo Bank-dır. Keçən ilin depozit artım dinamikasında birinci yeri
        Yelo Bank bölüşür, əbəs yerə deyil, çünki 11%-dək yüksək faizli depozit hesablari açan müştərilər Yelo-ya etibar edir.</p>
    
    <h1>Depozit</h1>
   <p> Qısa zaman ərzində gəlir əldə etmək kim istəməz ki? İllərdir yığa bilmədiyiniz pulu Yelo Bank-da depozit kimi yerləşdirməklə
     siz əziyyətsiz pulunu artıra bilərsiniz. Bunun üçün depozit yerləşdirirsiniz vəssalam, zaman və pulunuz sizin lehinizə işləyir.
      Pulunuzu depozit şəklində Yelo Bank-a yatırmaqla 11%-dək əlavə qazanc əldə edə bilərsiniz. Yelo Bank depozit şəklində həm pulunuzu
       etibarlı ünvanda qorumaq, həm də pulunuzu çoxaltmaq imkanı təqdim edir. Xərclədikdən sonra gec ola bilər, odur ki pul vəsaitinizi
        xərcləməmiş Yelo Bank-da depozit şəklində yerləşdirin və zamanın axınına buraxın. Statistika da göstərir ki, depozit hesabı açmaq 
        üçün ən etibarlı bank dedikdə, müştərilər Yelo Bankı seçir. Siz də Yelo Bank-ı seçin və seçilin, burada depozit hesabı açan müştərilərə
         başqa loyallıq imtiyazları da təqdim edilir.</p></span>
         <button onclick="myFunction()" id="myBtn">Read more</button> -->

<!-- </div> -->
</div>

{% endblock %}
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
</body>


</html> -->